<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dillon's Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/">Dillon O'Malley</a>
            </div>
            <div class="nav1">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
            </div>
        </div>
    </header>
    <main>
        <div class="hero">
            <h2>About Me</h2>
        </div>
        <section class="grid2">
        <div class="info" style="font-size:18px">
            <p>Hi! My name is Dillon - it's nice to meet you. I'm a fourth year engineering student at Northeastern University, planning on graduating in spring of 2026 with a bachelor's degree in Mechanical Engineering and Physics. I got interested in engineering and physics through my love of math and problem solving.</p>
            </br>
            <p> This past spring, I worked for six months as an electro-mechanical engineering co-op at <a href="https://www.clarapath.com/" target="_blank">Clarapath</a>, a small medical robotics start up company. There I was able to refine my skills in 3d printing, machining, and electrical engineering, along with countless others. Before that I volunteered at <a href="https://www.bostonbuildingresources.com/" target="_blank">Boston Building Resources</a>, a hardware store which recycles used building materials to make home improvement more affordable for the average family.</p>
            </br>
            <p> This coming spring, I am going to be working for the Department of Energy at the <a href="https://navalnuclearlab.energy.gov" target="_blank">Naval Nuclear Laboratory</a> in the capital district. I am especially eager to learn - there and moving forward - more about nuclear energy and refine my mechanical design skills</a>
        </div>
        <div class="info" style="display: flex; flex-direction: row; align-items: center; justify-content: center; padding: 0;">
            <figure>
            <img style="height:auto; width:300px" src="/upclose.jpg">
<!--            <figcaption style="display: flex; flex-direction: row; align-items: center; justify-content: center;"> hello </figcaption>-->
            </figure>
        </div>

        <div class="info" style="display: flex; flex-direction: row; align-items: center; justify-content: center; padding: 0;">
            <figure>
            <div class="image-container">
                <img style="height:auto; width:300px; margin: auto;" src="/aoc2015.png"></div>
                <figcaption style="display: flex; flex-direction: row; align-items: center; justify-content: center; text-align:center;"> My progress in the 2015 advent of code so far. Each layer of the tree represents a completed programming problem. </figcaption>

            </figure>
        </div>
        <div class="info" style="font-size:18px">
            <p>Outside of my career, I generally enjoy hiking, playing the guitar, and programming. In fact, this whole website was made by me, from the HTML to the backend, without the assistance of external website building software! I am generally the most comfortable working with python, though I have some experience writing in C++ and other lower level languages. For fun, I enjoy doing programming puzzles - for example, right now I am working through the 2015 advent of code, which I have included as an image to the left. </p>
            </br>
            With regards to outdoors stuff, I enjoy hiking a lot of trails in the northeast. I particularly enjoy the catskills in New York, and wherever I can take my bike from the commuter rail in Boston. My favorite park of all is the Sylvan Glen Preserve by Mohegan Lake.
            </p>
        </div>
        </section>
        <div class="hero">
            <img style="height:600px; width:auto" src="waterfall.webp">
        </div>
    </main>
</body>
</html>
