<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokémon Team Analysis</title>
    <link rel="stylesheet" href="/static/portfoliocss.css">
</head>
<body>
    <header>
        <h1>Pokémon Team Analysis</h1>
        </br>
        <div class="nav1">
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About Me</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="hero">
            <h2>Welcome to Pokémon Team Analysis</h2>
            <p>Start your journey to optimize your Pokémon team's potential.</p>
        </div>
        </br></br>
        <div class="info">
            <h2>What We Offer</h2>
            <p>text</p>
        </div>
    </main>
</body>
</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dillon's Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/">Dillon O'Malley</a>
            </div>
            <div class="nav1">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
            </div>
        </div>
    </header>
    <main>
        <div class="hero">
            <h2>Welcome to my Engineering Portfolio!</h2>
        </div>

        <section class="grid2">
        <div class="info">
            <h2>About This Site</h2>
            <p>Hello! My name is Dillon O'Malley, a third year Mechanical Engineering and Physics student at Northeastern University. This website is intended to act as a portfolio and living showcase for my engineering skills. Feel free to navigate to <a href="/about">about me</a> to hear more about me, or to <a href="/projects">projects</a> to learn about my past work. I hope I can meet with you soon! </p>
        </div>
        <div class="info">
            <h2>Contact Me</h2>
            <p>I am always open to new oppurtunities - please do not hesitate to reach out! I can be contacted at: </p>
            </br>
            <p>My school email address: <a href="mailto:omalley.di@northeastern.edu">omalley.di@northeastern.edu</a> </p>
            <p>My personal email: <a href="mailto:dillonmomalley@gmail.com">dillonmomalley@gmail.com </a></p>
            <p>My linkedin: <a href="https://www.linkedin.com/in/dillonomalley/">https://www.linkedin.com/in/dillonomalley/</a></p>
        </div>
        </section>
    </main>
</body>
</html>
